:root {
    --canary: #e5ff9d;
    --clay-ash: #c7d0c3 ;
    --lilac: #be9abd;
    --buddha-gold: #a29d02;
    --dark-green: #264750;

}

* {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark-green);
    background-color: var(--clay-ash);
    font-size: 100%;
}

header {
    text-align: center;
}

h1 {
    text-align: center;
    margin: 1.5rem 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h4 {
    font-size: 1.25rem;
    display:inline-block;
    margin: .25rem;
}

#container {
    color: var(--clay-ash);
    background-color: var(--dark-green);
    padding: 25px;
    border-radius: 10px;
    margin: 3em;
}

button {
    font-size: 1em;
    font-weight: bold;
    padding: .5em;
    color: var(--dark-green);
    background-color: var(--buddha-gold);
    border:1px solid #c7d0c3;
    border-radius: 5px;
    margin-bottom: .75em;
}

button:hover {
    color:var(--canary);
    box-shadow: 0 0 3px 3px var(--canary);
}

ol {
    margin-left:0px;
    padding-left:0px;
    width: 75vw;
}

.choice {
    font-weight: bolder;
    width: 12rem;
    line-height: 2;
    list-style-type: none;
    color: var(--dark-green);
    background-color: var(--buddha-gold);
    padding: .25em;
    border-radius: 10px;
    margin-bottom: .75em;
}

.choice:hover {
    color:var(--canary);
    box-shadow: 0 0 3px 3px var(--canary)
}

.btn-next {
    margin: 5px;

}

.alert {
    font-style: italic;
    color: var(--lilac); 
}


form {
    padding: .5em 0;
}

.topFive {
    font-weight: bolder;
    width: 12rem;
    line-height: 2;
    padding: .25em .25em .25em 1em;
    border-radius: 10px;
    margin-bottom: 10px;
}



